
#code-1 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top:250px;
    left: 10px;
  }
  #code-2 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top:850px;
    left: 10px;
    
  }