#code-1 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top: 350px;
    left: 10px;

}

#code-2 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top: 1170px;
    left: 10px;

}

#code-3 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top: 2750px;
    left: 10px;

}
#code-4 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top: 3500px;
    left: 10px;

}