#code-1 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top:180px;
    left: 10px;
    
  }
  #code-2 {
    color: black;
    text-align: left;
    direction: ltr;
    position: absolute;
    top:420px;
    left: 10px;
    
  }